<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cyotek.CircularBuffer" version="1.0.0.0" targetFramework="net45" />
  <package id="Dapper" version="1.42" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="2.0.0-beta3" targetFramework="net45" developmentDependency="true" />
  <package id="MoonSharp" version="1.2.1.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net451" />
  <package id="NLog" version="4.3.5" targetFramework="net45" />
  <package id="NLog.Config" version="4.3.5" targetFramework="net45" />
  <package id="NLog.Schema" version="4.3.4" targetFramework="net45" />
</packages>